# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SynchubSender.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\spider\SynchubSender\.idea\.idea.SynchubSender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
